.header{
    height: 35vh;
    background: #2a1fa2;
}

._container{
    position: absolute;
    top: 15vh;
    left: 15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.company_name{
    position: absolute;
    top: 0px;
    left: 25%;
}